.sw-badge {
  display: inline-flex;
  color: $c-white;
  font-weight: bold;
  border-radius: $rad-0;
  line-height: 1.5;
  align-items: center;
  padding: 0 $space-0/2 2px;
  background-color: $c-purple;
}
